---
homeassistant:
  name: Paddlepond Home Assistant
  latitude: !secret ha_latitude
  longitude: !secret ha_longitude
  unit_system: metric
  time_zone: Europe/London
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.1.0/24
      allow_bypass_login: true
  # customize: !include customize.yaml

recorder:
  db_url: !secret mariadb_connect_string

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:
python_script:

frontend:
  themes: !include_dir_merge_named themes

lovelace: !include lovelace/config.yaml

calendar: !include component_config/calendar.yaml
telegram_bot: !include component_config/telegram_bot.yaml
plex: !include component_config/plex.yaml
saver:
spotify: !include component_config/spotify.yaml
# spotcast: !include component_config/spotcast.yaml
# vacuum: !include component_config/robovac.yaml
webostv: !include component_config/webostv.yaml

device_tracker: !include device_trackers.yaml

automation ui: !include automations.yaml
automation manual: !include_dir_merge_list automations/
script: !include_dir_merge_named scripts/

camera: !include cameras.yaml
notify: !include notify.yaml
plant: !include plants.yaml
sensor: !include sensors.yaml
switch: !include switches.yaml
cover: !include covers.yaml
timer: !include timers.yaml

input_boolean: !include inputs/booleans.yaml
input_datetime: !include inputs/datetime.yaml
input_number: !include inputs/numbers.yaml
input_select: !include inputs/select.yaml

rest_command: !include commands/rest.yaml
shell_command: !include commands/shell.yaml

light groups: !include groups/lights.yaml
group: !include groups/switches.yaml
group plants: !include groups/plants.yaml

localtuya: !include component_config/localtuya.yaml
